<%- include('header') %> 

<div class="container">
  <h2 class="mt-5 mb-3">Wszystkie trasy...</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Start</th>
        <th scope="col">Stop</th>
        <th class="d-print-none">
          Akcja
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const route of routes) { %>
      <tr>
        <td><%= route.start %></td>
        <td><%= route.end %></td>
        <td class="d-print-none">
          <a class="btn btn-sm btn-warning" href="/routes/join/<%= route.route_id %>">Dołącz do trasy.</a>
          <!-- <a class="btn btn-sm btn-danger" href="/routes/delete/<%= route.route_id %>">Delete</a> -->
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include('footer') %> 